ul {
    margin: 0 auto;
    padding: 1em;
    list-style: none;
  }
  
  ul#sortable > li {
    margin: 0.5em;
    padding: 0.5em;  
    display: flex;
    justify-content: space-between;
    height: 30px; }
  
  ul#sortable > li:hover {
    background-color: #fafafa;
     }
  ul#sortable > li >div {
    display: inline;
  }
  ul#sortable > li > div.text { 
    align-self: flex-start;
   }
  ul#sortable > li > div.controller { 
    align-self: flex-end;
  }
  
  ul#sortable > li > div.controller > i {
    margin: 0 0.3em;
  }

  input[type=textarea]{
    overflow-wrap: break-word;
    display: block;
  }