@import url('https://fonts.googleapis.com/css?family=Gaegu');

.App {
  text-align: center;
}

body {
  background-color: #eaeaea;
  font-family: 'Gaegu', sans-serif;
  font-size: 1.3em;
}

body > div{
  margin: 1em auto;
  width: 80vw;
  box-shadow: 1px 1px 10px 2px #888888;
  background-color: #fff;
}
body > div > div {
  margin: 1em auto;
}

#primaryInput {
  display:block;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.draggable {
  user-select: none;
}


.ui-state-default.over {
  border: 2px dashed #000;
  /* border-top: 2px solid blue; */
}